.transaction-history {
  width: 100%;
  border-collapse: collapse;
  font-size: 20px;
  border: 1px solid black;
}

.transaction-history th {
  background-color: blue;
  color: white;
  padding: 10px;
  border: 1px solid beige;
}

.transaction-history td {
  background-color: green;
  color: white;
  padding: 10px;
  text-align: center;
  border: 1px solid beige;
}

.transaction-history tr:nth-child(even) {
  background-color: darkgreen;
}

.transaction-history tr:hover {
  background-color: #006400;
  cursor: pointer;
}
